#content-body #edit-cancel {
  margin-left: 15px;
}

#user-profile-form input[type="text"] {
    width: 80%;
}

body.page-user-edit .tabs {display: none;}

/* User Profile Form */

body.page-user-edit .form-actions {background-color: transparent; border: none; margin: 0px; padding: 0px;}
#user-profile-form input[type="text"] {width: 80%;}
html.js #user-profile-form input.form-autocomplete {background-position: 99.5% 8px;}
html.js #user-profile-form input.throbbing {background-position: 99.5% -12px;}

.block-simple-registration p {font-size: 14px;}
.block-simple-registration input {font-size: 14px; padding: 4px 14px;}
.block-simple-registration #edit-cancel {margin-left: 15px;}

body.page-user-edit #content a.btn:link {color: #333333;}
body.page-user-edit #content a.btn:visited {color: #333333;}
body.page-user-edit #content a.btn:hover {color: #333333;}

.view-profile-view .views-row div span:first-child {display: block; float: left; clear: left; width: 100px; margin: 1em 15px 0 0;}
.view-profile-view .views-row div span:last-child {display: block; float: left; margin: 1em 0 0 0;}
.view-profile-view .views-row div div:last-child {display: block; float: left; margin: 1em 0 0 0;}
.view-profile-view .views-row div span.btn {width: auto; margin: 1em 0 2em 0;}
.view-profile-view .views-row div span.btn a {text-decoration: none;}
.view-profile-view .views-row div span.btn a:link {color: #333333 !important;}
.view-profile-view .views-row div span.btn a:visited {color: #333333 !important;}
.view-profile-view .views-row div span.btn a:hover {color: #333333 !important;}
